{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista Condicion Pago</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('condicionpago_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcion }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('condicionpago_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('condicionpago_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('condicionpago_new') }}">
               Registrar Nuevo
            </a>
        </li>
    </ul>
    {% endblock %}
